// Variables
// --------------------------

$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;


$fa-var-search: "\f000";

$fa-var-star: "\f001";

$fa-var-user: "\f002";

$fa-var-check: "\f003";

$fa-var-times: "\f004";

$fa-var-home: "\f005";

$fa-var-comment: "\f006";

$fa-var-chevron-up: "\f007";

$fa-var-phone: "\f008";

$fa-var-twitter: "\f009";

$fa-var-bars: "\f00a";

$fa-var-google-plus: "\f00b";

$fa-var-envelope: "\f00c";

$fa-var-linkedin: "\f00d";

$fa-var-facebook-official: "\f00e";

$fa-var-apple: "\f00f";

$fa-var-microsoft: "\f010";

$fa-var-android: "\f011";

