
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>bloc | login</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--===============================================================================================-->	
      <link rel="icon" type="image/png" href="/static/app/favicon.ico"/>
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
      <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
      <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/static/css/util.css">
      <link rel="stylesheet" type="text/css" href="/static/css/main.css">
		 	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
      <!--===============================================================================================-->
	  <!-- Bootstrap5 CSS -->
	  
      <!-- my JS -->
      <script src="/static/app/js/bloc.umd.min.js"></script>
      <!-- Mixanel integration -->
		<script type="text/javascript">
         (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
         for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
         MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
            mixpanel.init('1ba15c80ce8bc4322c3cdbd7815f21e3', {debug: true});
            
   mixpanel.identify(`{{ current_user.email }}`);
   
         </script>
   </head>
   <body>
      <div class="limiter">
         <div class="container-login100">
            <div class="wrap-login100">
               <div class="login100-form validate-form">
                  <span class="login100-form-title pb-3">
                  	<a href = "{{ url_for('views.home') }}"><img src="/static/images/birds.svg" alt="bloc" width="95" height="84" class="logo d-inline-block align-text-top"></a>
                  </span>
                  <span class="login100-form-title-black pb-3">
                  login
                  </span>
                  <div class = "container">
					  <!-- Biometric images -->
                     <div class="d-flex p-2 justify-content-center">
                        <div class = "container d-flex p-2 justify-content-center mx-auto">
                           <img src="/static/img/faceid.png" class="card-img-top" alt="Face ID image">
                        </div>
                        <div class = "container d-flex p-2 justify-content-center mx-auto"> 
                           <img src="/static/img/touchid.png" class="card-img-top" alt="Fingerprint image">
                        </div>
                     </div>
                     <strong>
                        <center>
                           <b>
                              <p>{{ username }}</p>
                           </b>
                        </center>
                     </strong>
                     <center>
                        <p>Click below to log back in.</p>
                     </center>
                  </div>
                  <div hidden class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                     <label>Email</label>
                     <input class="input100" type="text" name="username" id="username" value = "{{ username }}" disabled>
                     <span class="focus-input100"></span>
                  </div>
                  <div class="container-login100-form-btn">
                     <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button hidden class = "btn btn-primary " id = "btnRegister"></button>
                        <button class="login100-form-btn" data-bs-toggle="modal" data-bs-target="#/staticBackdrop" id="btnAuthenticate">
                        login
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="/staticBackdrop" data-bs-backdrop="/static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="/staticBackdropLabel" aria-hidden="true">
                           <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <center>
                                       <h5 class="modal-title" id="/staticBackdropLabel">One moment</h5>
                                    </center>
                                 </div>
                                 <div class="modal-body">
                                    <div class="d-flex align-items-center">
                                       <strong>Please wait...</strong>
                                       <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div hidden class="text-center p-t-115">
                     <span class="txt1">
                     Don’t have an account?
                     </span>
                     <a class="txt2" href="/signup">
                     Sign Up
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <main hidden>
         <h2></h2>
         <details>
            <summary>Debug Info</summary>
            <!-- Registration -->
            <section>
               <h3>Registration</h3>
               <p>Status: <span id="statusRegister"></span></p>
               <h4>Raw Output:</h4>
               <textarea id="dbgRegister" spellcheck="false"></textarea>
            </section>
            <!-- Authentication -->
            <section>
               <h3>Authentication</h3>
               <p>Status: <span id="statusAuthenticate"></span></p>
               <h4>Raw Output:</h4>
               <textarea id="dbgAuthenticate" spellcheck="false"></textarea>
            </section>
         </details>
         <div class="debug-container"></div>
      </main>
      <div id="dropDownSelect1"></div>
      <!--===============================================================================================-->
      <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="/static/vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
      <script src="/static/vendor/bootstrap/js/popper.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="/static/vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
      <script src="/static/vendor/daterangepicker/moment.min.js"></script>
      <script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
      <script src="/static/vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
      <script src="/static/js/main.js"></script>
      <!-- My JS -->
      <script src="/static/app/js/auth-script.js"></script>
      <script>
         // Send a default page view event with additional properties
         mixpanel.track_pageview({ "page": "Login" });
      </script>
   </body>
</html>